<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body dir="rtl">
    <center>
        <hr>
       @*  http://localhost:5027/images/Soroush_Sadr.jpg *@
        <img src="~/images/Soroush_Sadr.jpg" alt="~/images/Soroush_Sadr.jpg" title="تصویر پرسنلی سروش صدر" />
        <img src="/images/Soroush_Sadr.jpg" alt="/images/Soroush_Sadr.jpg" title="تصویر پرسنلی سروش صدر" />
        <img src="images/Soroush_Sadr.jpg" alt="images/Soroush_Sadr.jpg" title="تصویر پرسنلی سروش صدر" />
        <img src="images/Soroush_Sadr2.jpg" alt="تصویر پرسنلی سروش صدر" title="تصویر پرسنلی سروش صدر" />

        <hr>
    </center>
</body>
</html>