@using Entities
@model Person


<div>
    <h1 class="display-4">@ViewData[SadrTools.Utility.StaticValues.ViewData.Title]</h1>

    <ul>
        <li>
            
           @Model.ID
        </li>
        <li>
            @Model.FirstName
        </li>
        <li>
            @Model.LastName
        </li>
    </ul>

    

</div>