
@{
   // ViewData["Title"] = "GetBy";
}

<h1>GetBy</h1>

@{
    var info = ViewBag.Category + "......" + ViewBag.Title;
}

<h2 class="alert-info">Article (Post) = @info</h2>

<p>
    ................
    ................
    ................
    <br />
    ................
    ................
    ................
</p>

