
@{
    ViewData["Title"] = "Get";
}


<h1>Blog.........</h1>

@{
    var info = ViewBag.ID;
}

<h2 class="alert-info">Article (Post) With ID = @info</h2>

<p>
    ................
    ................
    ................
</p>