
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dotin</title>
</head>
<body>

    <h1>ViewData["MyTest"]</h1>

    <h2>@ViewData["MyTest"]</h2>
    
    <h3>@ViewData["MyTest"];</h3>
   
    <h4>ViewBag.MyViewBag</h4>
   
    <h5>@ViewBag.MyViewBag</h5>

    <h6>@ViewBag.MyTest</h6>



</body>
</html>
