@using Entities.ModelBinding.Advance
@model Entities.ModelBinding.Advance.Person

@{
    ViewData["Title"] = "تعریف اشخاص و آدرس و نقش و علایق آنها";
}

<h1>تعریف اشخاص و آدرس و نقش و علایق آنها</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateWithAddressAndRoleAndFavorites" method="post">

            <input type="hidden" id="PhonesCount" value="@Model.Phones.Count" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Your existing form fields -->

            <hr />

            <div class="form-group">
                <label asp-for="AddressObject.Country" class="control-label"></label>
                <input asp-for="AddressObject.Country" class="form-control" />
                <span asp-validation-for="AddressObject.Country" class="text-danger"></span>
            </div>

            <!-- Your existing address form fields -->

            <div class="row">
                <div class="col-6">
                    <fieldset id="favorites" class="border p-2 m-2">
                        <legend>علاقه مندی ها</legend>
                        <button id="AddFavorite"
                                type="button"
                                class="btn btn-primary">
                            افزودن
                        </button>
                        <div id="FavoritesPlaceHolder"></div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <fieldset id="Phones" class="border p-2 m-2">
                        <legend>شماره موبایل</legend>
                        <button id="AddPhones"
                                type="button"
                                class="btn btn-primary">
                            افزودن
                        </button>
                        <div id="PhonesPlaceHolder"></div>
                    </fieldset>
                </div>
            </div>

            <!-- Your existing form fields -->

            <hr />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script type="text/javascript">

        var getFavoritesPath = "@Url.Action(action: "GetFavoritesSection", controller: "Person")";
        var getPhonesPath = "@Url.Action(action: "GetPhonesSection", controller: "Person")";

    </script>

    <script src="~/js/Person.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
