@using Entities.ModelBinding.Simple
@model Entities.ModelBinding.Simple.Person

@{
    ViewData["Title"] = "تعریف اشخاص و آدرس و نقش آنها";
}

<h1>تعریف اشخاص و آدرس و نقش آنها</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateWithAddressAndRole" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonID" class="control-label"></label>
                <input asp-for="PersonID" class="form-control" />
                <span asp-validation-for="PersonID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Role"></label>
                <select asp-for="Role" class="form-control"
                        asp-items="@new SelectList(Enum.GetNames(typeof(EnRole)))">
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Role"></label>
                <select asp-for="Role" class="form-control"
                        asp-items="@ViewBag.RoleEnum">
                </select>
            </div>






            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)
                </label>
            </div>

            <hr />

            <div class="form-group">
                <label asp-for="AddressObject.Country" class="control-label"></label>
                <input asp-for="AddressObject.Country" class="form-control" />
                <span asp-validation-for="AddressObject.Country" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AddressObject.City" class="control-label"></label>
                <input asp-for="AddressObject.City" class="form-control" />
                <span asp-validation-for="AddressObject.City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AddressObject.Line1" class="control-label"></label>
                <input asp-for="AddressObject.Line1" class="form-control" />
                <span asp-validation-for="AddressObject.Line1" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="AddressObject.Line2" class="control-label"></label>
                <input asp-for="AddressObject.Line2" class="form-control" />
            </div>


            <div class="form-group">
                <label asp-for="AddressObject.PostalCode" class="control-label"></label>
                <input asp-for="AddressObject.PostalCode" class="form-control" />
                <span asp-validation-for="AddressObject.PostalCode" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
