@model string

<fieldset class="border p-2 m-2">
    <div class="form-group">
        <label for="Favorites">علاقه مندی :</label>
        <input id="Favorites" 
               name="Favorites" 
               class="form-control" 
               value="@Model" />
    </div>
</fieldset>