@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@section Scripts {
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
}

@section CSS {

    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
}

@section MyTitle {

    <h1 class="btn-danger"><em>WELCOME :-)</em></h1>
}


@section Meta {
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@DateTime.Now">
    <meta name="twitter:app:id:googleplay" content="com.digikala">
    <meta name="twitter:creator" content="دیجی‌کالا" />
    <meta name="twitter:title" content="ساعت مچی عقربه ای مردانه کاسیو مدل جی شاک کد AW-591BB-1A">
    <meta name="twitter:image" content="https://dkstatics-public.digikala.com/digikala-products/113567015.jpg?x-oss-process=image/resize,m_lfit,h_350,w_350/quality,q_60">
    <meta name="twitter:label1" content="قیمت به تومان">
    <meta name="twitter:data1" content="1778000">
}