@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<my-button onclick="alert('جهت تست')"></my-button>

<my-button type="submit" bg-color="info" onclick="alert('جهت تست')"></my-button>

<my-button type="reset" bg-color="warning" onclick="alert('جهت تست')"></my-button>

<br />
<hr />

<form action="Privacy" controller="Home">
    <my-button></my-button>
</form>