@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@* <button bs-color="danger">my button</button>
<button bs-color="info">my button</button>
<button bs-color="success">my button</button>
<button bs-color="warning">my button</button> *@


<button my-custom-color="danger">aaa</button>
<button my-custom-color="success">bbb</button>
<button my-custom-color="warning">ccc</button>
<button my-custom-color="">ddd</button>


@* <my-button btn-color="info"></my-button>
<my-button btn-color="info" btn-type="reset"></my-button>
<my-button>متن دلخواه</my-button> *@


<my-button btn-color="success" onclick="alert('تست اول')"></my-button>
<my-button btn-color="info" btn-type="reset" onclick="alert('تست دوم')"></my-button>
<my-button onclick="alert('تست سوم')">متن دلخواه</my-button>
